
.d-flex button{
    margin: 1.5em 0.5em;
    padding: 0.3em 1.4em;
}

.d-flex table{
    margin: 1em 10em;
}

table .btnedit{
    color: lightslategray;
    cursor: pointer;
}

.success{
    background-color: lightgreen;
    padding: 1em;
}

.error{
    background-color: white;
    padding: 1em;
}
